.categorias-title{
    font-size: $lato-subtitle;
    padding: 20px;
    font-family: lato, sans-serif;
}
.adminTable{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    font-family: lato,sans-serif;
}
.formContainer{
    display: flex;
    width: 80%;
    padding: 5px;
    border: 1px outset $black;
    border-radius: 5px;
    border-style: ridge;
}
.adminSide-btnContainer{
    padding: 5px;
    button{
        padding-right: 100px;
    }
}
.btn-holder{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.formGroup-inputs{
    display: block;
}
.sideBar{
    display: flex;
    align-items: flex-start;
    width: 25%;
}
.adminTable-cardSlider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px outset $black;
    border-radius: 5px;
    width: 100%;
    padding: 0px;
    height: 200px;
    ul{
        text-decoration: none;
        list-style: none;
        padding: 0px;
        margin: 0px;
        overflow-y: scroll;
       scroll-behavior: auto;
       li:first-child{
           border-top: none;
       }
       li{
        border-bottom: none;
        border-left: none;
        div{
            padding-left: 5px;
        }
       }
    }

}
.cardSlider-productCard-notIncluded{
    

}
.subtitleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.adminTable-mainPage{
    display: flex;
    justify-content: space-between;
}
.fomrContainer-subtitle{
    padding: 5px;
}
.adminSide{
    width: 100%;
    border: 1px outset $black;
    border-radius: 5px;
    padding: 5px 0px;
}

.adminSide-btnContainer{
    width: 100%;
}
.adminSide-cardSlider{
    height: 500px;
    width: 100%;
    border-top: 1px outset $black;
    overflow-y: scroll;
    scroll-behavior: auto;
    ul{
        margin: 0px;
        padding: 0px;
        width: 300px;
        overflow-y: hidden;
        text-decoration: none;
        list-style: none;
        button{
            font-family: poppins, sans-serif;
            display: flex;
            background-color: $purewhite;
            justify-content: flex-start;
            align-items: flex-start;
            color: $black;
            text-decoration: none;
            width: 100%;
            height: 70px;
            border: 1px outset $black;
            border-top: none;
            padding: 5px 5px;
            border-left: none;
            border-right: none;
        }
        button:focus{
            background-color: $orange-light;
        }
    }
}
.formContainer-btn-add{
    border: 1px ridge $black;
    border-radius: 5px;
    background-color: $orange-dark;
    color:$white;
    padding: 3px;
    margin: 1px;
}
.formContainer-btn-delete{
    border: 1px ridge $black;
    border-radius: 5px;
    background-color: $red-dark;
    color:$white;
    padding: 3px;
    margin: 1%;
}

.adminSide-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}
.formGroup{
    width: 100%;
}

.categories-searchBar{
    width: 95%;
    border: 1px $black outset;
}
.adminSide-SearchFilters{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}
.formContainer-inputs{
    width: 100%;
    border: none;
}
.formContainer-inputs-description{
    padding-left: 5px;
    padding-top: 5px;
    font-family: lato, sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    resize: none;
    width: 100%;
    border: none;
    height: 300px;
}
.ghost{
    display: none;
    height: 0px;
    width: 0px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    
}
.formContainer-title{
    font-size: $lato-button;
}
.cardSlider-productCard{
    border:  1px $black outset;
}