<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link {{this.petitionParser}}" [routerLink]="['/admin/petitions']">Gestión de pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{this.productParser}}" [routerLink]="['/admin/products']">Gestión de productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{this.catalogParser}}" [routerLink]="['/admin/categories']">Gestión de categorías</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{this.buyParser}}" [routerLink]="['/admin/methods']">Gestión de compra</a>
    </li>
</ul>