<div class="fliterTable">
    <form>        
        <input type="checkbox" id="IncludeoutofStock">
        <label for = "IncludeoutofStock"> Incluir sin existencias</label>
        <input type="checkbox" id="onlyInthisCat">
        <label for = "onlyInthisCat"> Buscar solo en esta categoría</label>
        <input type="number" id="lowerBound">        
        <label for = "lowerBound"> $</label>
        <input type="number" id="upperBound">
        <label for = "upperBound">$</label>
        <button type="submit"> Ir</button>
    </form>
</div>