<div class="filterTable">
    <form class="filterTable-Form">
        <div>Filtros de Búsqueda:</div>
        <div>Buscar por precio: </div>
        <div (click) = "sendSettings('0-10')" class="texty"> Menor a 10$</div>
        <div (click) = "sendSettings('10-20')"class="texty"> De 10$ a 20$</div>
        <div (click) = "sendSettings('20-30')"class="texty"> De 20$ a 30$</div>
        <div (click) = "sendSettings('30-100')"class="texty"> Mayor a 30$</div>
        <div> Categoria: {{category}}</div>
        <div> Rango: {{settings}}</div>    
    </form>
</div>