<div class=".invoiceForm-Container">
    <div class = "container-fluid" style="border: 1px outset black; border-radius: 5px; border-style: ridge;">
            <form [formGroup]="invoiceForm" class="needs-validation">
                <div class="form-group">
                    <label for="exampleInputName">
                        <span>Nombre Completo del Cliente:</span>
                    </label>
                    <input
                    type="text"
                    id="exampleInputName"
                    placeholder="Adam Smith"
                    aria-required="true"
                    class="form-control {{validationResults}}"
                    formControlName = "clientName"
                    (input) = 'validateName()'
                    minlength="3"
                    readonly = {{readVar}}
                    required
                    >
                    <div class="valid-feedback">
                        Nombre Válido
                    </div>
                    <div class="invalid-feedback">
                        {{errorMsg1}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="saleStatus" id="status1" value="Pendiente" formControlName = "saleStatus" readonly = {{readVar}}>
                        <label class="custom-control-label" for="status1">Pendiente</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="saleStatus" id="status2" value="Pagada" formControlName = "saleStatus" readonly = {{readVar}}>
                        <label class="custom-control-label" for="status2">Pagada</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="saleStatus" id="status3" value="Cancelada" formControlName = "saleStatus" readonly = {{readVar}}>
                        <label class="custom-control-label" for="status3">Cancelada</label>
                    </div>

                </div>

                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="deliveryMethod" id="delivery1" value="Pickup" formControlName = "deliveryMethod" readonly = {{readVar}}>
                        <label class="custom-control-label" for="delivery1">Pickup</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="deliveryMethod" id="delivery2" value="Delivery" formControlName = "deliveryMethod" readonly = {{readVar}}>
                        <label class="custom-control-label" for="delivery2">Delivery</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class = "col-md-3 mb-3" >
                        <label for="date1" >Fecha de Compra:</label>
                        <input type="date" class="form-control" name="expeditionDate" id="date1" formControlName= 'expeditionDate' readonly = {{readVar}}>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf = 'this.hasError'>
                    <strong>¡Peligro!</strong> Guarde o descarte el pedido actual antes de añadir un nuevo pedido
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = 'resetError()'>
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            </form>
            <hr>
            <p class="h3">Manejo de Bolsitas</p>
            <form [formGroup]="productForm" class="needs-validation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                            <label for="exampleInputProduct">
                                <span>Nombre del Producto a buscar:</span>
                            </label>
                            <input
                            type="text"
                            id="exampleInputProduct"
                            name="productName"
                            placeholder="Toblerones"
                            aria-required="true"
                            class="form-control {{validationResults2}}"
                            formControlName = "productName"
                            (input) = 'validateProduct()'
                            readonly = {{readVar}}
                            >
                            <div class="valid-feedback">
                                Nombre de Producto Válido
                            </div>
                            <div class="invalid-feedback">
                                Nombre de Producto No Encontrado
                            </div>
                            </div>
                        </div>
                        
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleInputProductAmount">
                                    <span>Cantidad del Producto:</span>
                                </label>
                                <input
                                type="number"
                                id="exampleInputProductAmount"
                                name="productAmount"
                                placeholder="0"
                                aria-required="true"
                                class="form-control {{validationResults3}}"
                                formControlName = "productAmount"
                                (input) = 'validateProduct()'
                                min="1"
                                readonly = {{readVar}}
                                >
                                <div class="valid-feedback">
                                    Inventario Suficiente
                                </div>
                                <div class="invalid-feedback">
                                    Inventario Insuficiente
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click) = 'addProduct()'>Añadir Producto</button>
                        </div>
                    </div>
                </div>
            
            <hr>
            <table class="table table-bordered table-hover">
                <thead>
                    <th scope="col">Nombre del Producto:</th>
                    <th scope="col">Cantidad</th>
                </thead>
                <tbody>
                    <tr *ngFor = 'let product of productBags[bagNum - 1].bagContents'>
                        <td>{{product.productTitle}}</td>
                        <td>{{product.productAmount}}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" aria-label="Previous" *ngIf = 'this.bagNum != 1' (click) = 'goBefore()'>
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link">Bolsa {{this.bagNum}}</a></li>
                <li class="page-item">
                  <a class="page-link" aria-label="Next" *ngIf = 'this.bagNum != (this.productBags.length)' (click) = 'goNext()'>
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                </ul>
                <button type="submit" class="btn btn-outline-success" (click) = addBag()>Nueva Bolsita</button>
                <hr>
                <div *ngIf = 'this.readVar != "readonly"'>              
                    <button class="btn btn-warning" (click) = 'onSubmit()' >Guardar Pedido</button>
                </div> 
                <div *ngIf = 'this.readVar == "readonly"'>              
                    <button class="btn btn-secondary"  >Guardar Pedido</button>
                </div> 
             <h4 class="h4">Precio Total: {{this.totalPrice}}$</h4>
        <hr>
    </form>
</div>