<div class="footer">
    <div class="location">
        <img src="/assets/icons8-gps-location.svg">
        <div class="text">
            <p>¡Visítanos!</p>
            <p>Calle XXX Avenida XXX Cerca de XXX</p>
            <p>Ciudad XXXX Estado XXXX Venezuela</p>
        </div>
    </div>
    <div class="social">
        <p>Redes Sociales</p>
        <div class="social-left">
            <div class="social-item">
                <img src="/assets/icons8-instagram.svg">
                <p>@FakeInstagram</p>
            </div>
            <div class="social-item">
                <img src="/assets/icons8-facebook.svg">
                <p>@FakeFacebook</p>
            </div>
        </div>
        <div class="social-right">
            <div class="social-item">
                <img src="/assets/icons8-twitter.svg">
                <p>@FakeTwitter</p>
            </div>
            <div class="social-item">
                <img src="/assets/icons8-whatsapp.svg">
                <p>+58 424-9999999</p>
            </div>
        </div>
    </div>
</div>