<h1>{{product.title}}</h1>
<div *ngIf="!loading&&product" style="display: inline-flex; justify-content: space-between;">
    <div style="display: inline-flex; justify-content: space-between;">
        <img
        [src]="product.image"
        alt="product image">
        <div>
            <p>Precio: ${{product.price}}</p>
            <p>Peso: {{product.weight}} Kg</p>
            <p>Categorías:</p>
            <ul *ngFor="let category of categories">
                <li>{{category.name}}</li>
            </ul>
            <p>{{product.description}}</p>
        </div>
    </div>
    <div *ngIf="currentUserID&&userCart&&currentBag">
        <app-cart-view [cart]="userCart" [currentBag]="currentBag"></app-cart-view>
    </div>
</div>