<div class="formContainer">
    <form [formGroup]="CategoryForm" (ngSubmit) = "onSubmit()" class="needs-validation">
        <div *ngIf="selected()">
            <div class="btn-holder">
                <button type="button" class=" formContainer-btn-add btn-form" (click)= deselect()> Deseleccionar</button>
                <div >
                    <button type="button" class=" formContainer-btn-add btn-form" (click)= allowEditing()> Editar</button>
                </div>
                <div>
                    <button type="button" class=" formContainer-btn-delete btn-form" (click)= deleteCategory()> Eliminar</button>
                </div>
                </div>
        </div>
        <div class="formContainer-form">
            <label for="categoryName"></label>
            <div>
            <div class="formContainer-title" >
                Nombre de la Categoria:
            </div>
            <input 
            type="text"
            aria-required="true" 
            class="form-control {{nameValidation}}"
            (input)="validateName()"
            id="exampleInputName"
            formControlName="name"
            minlength="3"
            required
            />
            <div class="valid-feedback">
                Nombre Válido
            </div>
            <div class="invalid-feedback">
                El campo debe tener más de dos caracteres
            </div>
            <div class="formContainer-title">
                Descripción:
            </div>
            <textarea
            form="CategoryForm"
            class="form-control formContainer-inputs formContainer-inputs-description"
            id="categoryDescription" 
            formControlName="description"
            rows="10"
            cols="80"
             ></textarea>
            </div>
        </div>
        <div class="btn-holder">
        <button type="submit" class="formContainer-btn-add btn-form" *ngIf="selected()">
            Actualizar 
        </button>
        </div>
        <section class="subtitleContainer">
        <div class="fomrContainer-subtitle">  Productos incluidos: </div>
        <div class="fomrContainer-subtitle">  Productos no incluidos: </div>
        </section>
        <div class="adminTable-cardSlider">
        <ul>
            <!--Hacer ngFor de los productos que son de esta categoria-->
            <li class="cardSlider-productCard" *ngFor="let product of currentCategoryProducts">
                <div>{{product.title}} {{product.weight}} Kg.</div>
                <div>{{product.price}}$</div>
                <div> stock: {{product.stock}}</div>
                <button type="button" class="formContainer-btn-delete" (click) = removeProduct(product)> Eliminar</button>
            </li>
        </ul>
        <ul class="cardSlider-productCard-notIncluded">
            <!--Hacer ngFor de los productos que NO de esta categoria cardSlider-productCard-notIncluded-->
            <li class="cardSlider-productCard" *ngFor="let product of productsNotInCurrent"> 
            <div>{{product.title}} {{product.weight}} Kg.</div>
            <div>{{product.price}}</div>
            <div> stock: {{product.stock}}</div>
            <button type="button" class="formContainer-btn-add" (click)=addProduct(product)> Añadir</button>
            </li>
        </ul>
        </div>
        <button type="submit" class="formContainer-btn-add btn-form" *ngIf="!selected()">
            Crear Categoria 
        </button>
    </form>
</div>
