<nav-bar></nav-bar>
<main-title></main-title>
<div class="featuredProducts-container"></div>
<div class="homepage-mainTitle homepage-mainTitle-subtitle"> Productos Destacados: </div>
<featured-products [products] = "products"></featured-products>
<div class="homepage-description"> 
    <div class="about-description">
    <div class="about-descriptionImage">
        <img src="/assets/candys.svg" alt="">
    </div>
    <div class="about-descriptionText">
        <div class="descriptionText-title">
            <p>¿Quienes Somos?</p>
        </div>
        <div class="descriptionText-body">
            <p>En Chucherilandia no somos una confiteria solamente, somos la solución a todos tus problemas de chucherías a la hora que sea. Estes en una fiesta con tus panas o despechado por un heartbreak ahí estaremos para ti.</p>
        </div>
    </div></div>
<div class="homepage-footer">Footer xd</div>

