<nav class="navBar">
  <a [routerLink]="['/']" routerLinkActive="router-link-active"> <img class="navBar-logo" src="/assets/Isotipo.png" alt="logo"></a>
  <div>
  <form [formGroup]="searchBar" (ngSubmit) = "onSubmit()" class="searchBar" >
    <input type="text"
    autocomplete="off"
    autofocus
    aria-required="true"
    formControlName="searchBoxContent" 
    id="searchBox"
    placeholder="Buscar"
     >
     <button type="submit">
       <img src="/assets/icons8-search.svg">
    </button>
  </form>
  </div>
  <div class="navBar-buttons"><a class="navBar-registration" [routerLink]="['/login']" routerLinkActive="router-link-active"> Iniciar Sesión</a>
  <a class="navBar-registration" [routerLink]="['/signin']" routerLinkActive="router-link-active">Registrarse</a></div>
</nav>
<nav class="navBar-navLinks">
  <ul class="navBar-navLinks">
    <li > <a [routerLink]="['/']" routerLinkActive="router-link-active"> Home</a></li>
    <li > <a [routerLink]="['/aboutUs']" routerLinkActive="router-link-active"> Acerca de Nosotros</a></li>
    <li > <a [routerLink]="['/explore', empty]" routerLinkActive="router-link-active"> Explorar</a></li>
    <li > <a [routerLink]="['/admin/products']" routerLinkActive="router-link-active"> Ofertas del dia</a></li>
    <li > <a [routerLink]="['/aboutUs']" routerLinkActive="router-link-active"> Contáctanos</a></li>
  </ul>
</nav>
