<div class="container" style="margin-top: 3vh;">
<h1 class="adminView-Title">Gestión de Pedidos</h1>
<app-invoice-form  [invoice] = 'currentPedido' *ngIf = 'isEditing'></app-invoice-form>
<app-invoice-description [invoice] = 'currentPedido'  *ngIf = 'isEditing == false'></app-invoice-description>

<button class = 'btn btn-success' (click) = 'createNewInvoice()'>Nuevo Pedido</button>

<button class="btn btn-warning" (click) = 'editInvoice()' *ngIf = 'this.currentPedido && !isEditing'>Editar Pedido</button>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf = 'this.hasError'>
    <strong>¡Peligro!</strong> Guarde o descarte el pedido actual antes de añadir un nuevo producto
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = 'resetError()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>