<nav-bar></nav-bar>
<div class="about">
    <div class="about-title">
        <span>Acerca de Nosotros</span>
    </div>
    <div class="about-description">
        <div class="about-descriptionImage">
            <img src="/assets/candys.svg" alt="">
        </div>
        <div class="about-descriptionText">
            <div class="descriptionText-title">
                <p>¿Quienes Somos?</p>
            </div>
            <div class="descriptionText-body">
                <p>En Chucherilandia no somos una confiteria solamente, somos la solución a todos tus problemas de chucherías a la hora que sea. Estes en una fiesta con tus panas o despechado por un heartbreak ahí estaremos para ti.</p>
            </div>
        </div>
    </div>
    <div class="about-categories">
        <div class="categories-category">
            <div class="aboutCategory-title">
                <p>Misión</p>
            </div>
            <div class="aboutCategory-body"> 
                <div class="aboutCategory-bodyText">
                    <p>Ofrecer dulces al detal y al mayor a clientes en Venezuela y en el Mundo Entero. Satisfaciendo los dulces deseos de nuestros clientes, una chuchería a la vez.</p>
                </div>
                <div class="aboutCategory-bodyImage">
                    <img src="/assets/icons8-goal1.svg" alt="Imagen de una diana de Tiro">
                </div>
            </div>
        </div>
        <div class="categories-category">
            <div class="aboutCategory-title">
                <p>Visión</p>
            </div>
            <div class="aboutCategory-body"> 
                <div class="aboutCategory-bodyText">
                    <p>Hacer el mundo un lugar más dulce. Donde a pesar de los dolores de la vida y las dificultades que podamos vivir siempre podamos volver a lo que nos hace felices.</p>
                </div>
                <div class="aboutCategory-bodyImage">
                    <img src="/assets/icons8-binoculars1.svg" alt="Imagen de unos binoculares azules">
                </div>
            </div>
        </div>
        <div class="categories-category">
            <div class="aboutCategory-title">
                <p>Valores</p>
            </div>
            <div class="aboutCategory-body"> 
                <div class="aboutCategory-bodyText">
                    <p>La luz en el mundo se promueve avivando la luz dentro de nuestros corazones. La Felicidad, Tolerancia y especialmente el Amor son imprescindibles para ello. </p>
                </div>
                <div class="aboutCategory-bodyImage">
                    <img src="/assets/icons8-trust1.svg" alt="Imagen de una mano con un corazon">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>