<nav-bar></nav-bar>
<div class="about">
    <div class="about-title">
        <span>Acerca de Nosotros</span>
    </div>
    <div class="about-description">
        <div class="about-descriptionImage">
            
        </div>
        <div class="about-descriptionText">
            <div class="descriptionText-title">
                
            </div>
            <div class="descriptionText-body">
                
            </div>
        </div>
    </div>
    <div class="about-categories">
        <div class="categories-category">
            
        </div>
        <div class="categories-category">
            
        </div>
        <div class="categories-category">
            
        </div>
    </div>
</div>