<div class="container" *ngIf="!loading">
    <h1>{{editProduct ? "Actualizar producto" : "Crear producto"}}</h1>
    <form [formGroup]="productForm">
        
        <div class="form-group" *ngIf="!imageURL&&!editProduct" style="margin: 100px;">
            <h2>[Previsualización]</h2>
        </div>
        
        <div class="form-group" *ngIf="imageURL">
            <img
            [src]="imageURL | async"
            alt="product image">
        </div>

        <div class="form-group" *ngIf="editProduct&&!imageURL">
            <img
            [src]="editProduct.image"
            alt="product image">
        </div>

        <div class="form-group">
            <label for="inputTitle">
                Nombre del producto:
            </label>
            <input
            type="text"
            id="inputTitle"
            placeholder="Nombre del producto"
            formControlName="title">
        </div>

        <div class="form-group">
            <label for="inputDescription">
                Descripción del producto:
            </label>
            <input
            type="text"
            id="inputDescription"
            placeholder="Descripción del producto"
            formControlName="description">
        </div>

        <div class="form-group">
            <label for="inputPrice">
                Precio del producto: $
            </label>
            <input
            type="number"
            id="inputPrice"
            min = "0"
            step = "0.01"
            placeholder="Precio del producto"
            formControlName="price">
        </div>

        <div class="form-group">
            <label for="inputWeight">
                Peso del producto:
            </label>
            <input
            type="number"
            id="inputWeight"
            min = "0.05"
            max = "2"
            step = "0.05"
            placeholder="Peso del producto"
            formControlName="weight">
            <label for="inputWeight">
                <span>Kg</span>
            </label>
        </div>

        <div class="form-group">
            <label for="inputStock">
                Cantidad del producto:
            </label>
            <input
            type="number"
            id="inputStock"
            min = "0"
            step = "1"
            placeholder="Cantidad del producto"
            formControlName="stock">
            <label for="inputStock">
                <span>unidad(es)</span>
            </label>
        </div>

        <div class="form-group">
            <label for="photoUpload">
                <span>Seleccione una imagen:</span>
            </label>
            <input
            type="file"
            id="photoUpload"
            accept=".png, .jpg"
            (change)="onUpload($event)">
        </div>

    </form>
    <div class="container" style="display: inline-flex;">
        <button class="btn btn-danger"  [routerLink]="['/admin/products']" style="width: 100px; margin-left: 20px;">Regresar</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()" style="width: 100px; margin-left: 20px;">{{editProduct ? "Actualizar" : "Crear"}}</button>
    </div>
</div>