<div class="container">
  <div style="display: inline-flex;">
    <div class="card" style="width: 18rem;" *ngFor="let product of products">
        <img [src]="product.image" class="card-img-top" [alt]="product.image">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Precio: ${{product.price}}</p>
          <p class="card-text">Peso: {{product.weight}} Kg</p>
          <p class="card-text">Cantidad: {{product.stock}} unidad(es)</p>
          <a [routerLink]="['/admin/products', product.$key, 'update']" class="btn btn-info btn-sm" style="width: 100px;">Actualizar</a>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product.$key)" [disabled]="loading" style="width:100px;">Borrar</button>
        </div>
    </div>
  </div>
</div>