<nav-bar></nav-bar>
<div class="cartBody">
    <div class="cartTitle">
        <p>Carrito de Compra:</p>
    </div>
    <div >
        <div class="cartDescription">
            <div class="cartBagView-List">               
            </div>
            <div class="cartProductView">
                <wish-list-product></wish-list-product>
            </div>
        </div>
        <div class="cart-genericButton">
            <button>Comprar</button>
        </div>
        <div class="errorMessage" >
            <div class="errorMessage-Image">
                <img src="/assets/icons8-poison.svg" alt="PoisonImage">
            </div>
            <div class="errorMessage-Text">
                <p>¡Carrito Vacío!</p>
            </div>
            <div class="errorMessage-Prompt">
                <button>Llenar Carrito</button>
            </div>
            
        </div>
    </div>
</div>