// Default


//Colores Principales
$red-lightest: #F9CBD0;
$red-light:#F76775;
$red: #EE394A;
$red-dark: #DC0015;
$red-darkest:#9E000F;
$white: whitesmoke;

//Colores Secundarios
$orange: #F7893B;
$orange-lightest:#FFE4D0;
$orange-light:#FFA86A; 
$orange-dark:#F7893B;
$orange-darkest:#A34400;
//Colores Ternarios
$purple: #BE2E8C;
$purple-darkest:#7E0052;
$purple-dark:#B00072;
$purple-lighest:#D5AEC8;
$purple-light:#C954A0;
//Hightlights


//Tamaños de Fuentes
$lato-title: 70px;
$lato-subtitle:45px;
$lato-button:36px;
$lato-text:28px;
$lato-small-text:16px;

$poppins-subtitle: 60px;
$josefin-text: 40px;
//Margenes



//Misc.