// Default


//Colores Principales
$red-lightest: #F9CBD0;
$red-lighter: #FCC2C8;
$red-light:#F76775;
$red: #EE394A;
$red-dark: #DC0015;
$red-darkest:#9E000F;
$white: whitesmoke;
$purewhite: #FFFFFF;
$light-gray: #333333;
$lighter-gray: #D3D3D3;

$black: #030303;
//Colores Secundarios
$orange: #494441;
$orange-lightest:#FFE4D0;
$orange-light:#FFA86A; 
$orange-dark:#F7893B;
$orange-darkest:#A34400;
//Colores Ternarios
$purple: #BE2E8C;
$purple-darkest:#7E0052;
$purple-dark:#B00072;
$purple-lighest:#D5AEC8;
$purple-light:#C954A0;
//Hightlights

//Font-weights:
$semibold: 700;
//Tamaños de Fuentes
$lato-title: 70px;
$lato-subtitle:45px;
$lato-button:36px;
$lato-text:28px;
$lato-small-text:16px;
$lato-very-small-text: ($lato-small-text /1.1618);
$poppins-subtitle: 60px;
$poppins-subtitle-small: 48px;
$josefin-text: 34px;
$josefin-small-text: 24px;
//Margenes



//Misc.